{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "importOrder": ["^@m/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"],
  "endOfLine": "auto"
}
