{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "importOrder": [
    "@prisma/(.*)$",
    "containers/(.*)$",
    "components/(.*)$",
    "hooks/(.*)$",
    "core/(.*)$",
    "server/(.*)$",
    "ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
