@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout-container {
    max-width: 1450px;
    margin-inline: auto;
  }
}

@layer base {
  :root {
    /* #221F20 */
    --color-primary: 34 31 32;
    /* #cc2727 */
    --color-error: 204 39 39;
    /* #29ab3c */
    --color-success: 41 171 60;
  }

  h2 {
    @apply font-semibold text-4xl font-inter;
  }

  h3 {
    @apply font-semibold font-inter;
  }
}

html,
body {
  height: 100%;
}

.link {
  @apply font-semibold text-sky-500 hover:text-sky-700 transition;
}

a,
button {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-secondary;
}
