@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout-container {
    max-width: 1450px;
    margin-inline: auto;
  }
}

@layer base {
  :root {
    /* #221F20 */
    --color-primary: 34 31 32;
    /* #A42222 */
    --color-error: 164 34 34;
    /* #29ab3c */
    --color-success: 41 171 60;
  }

  h2 {
    @apply font-semibold text-4xl font-inter;
  }

  h3 {
    @apply font-semibold text-lg font-inter;
  }
}

html,
body {
  height: 100%;
}
